body {
    color: #FFFFFF;
}

.body-mailing {
    background-color: rgb(0, 0, 0);
    width: 1000px;
    margin: auto;
    text-align: center;
    padding: 5px;
}

.logo {
    padding: 70px;
    color: #000000;
    background-color: #FFFFFF;
}

.parte-superior,
.kit-mapa {
    display: inline-flex;
}

.carrera-montagne {
    width: 480px;
    color: #FFFFFF;
    background-color: #000000;
    font-size: 50px;
    text-align: right;
}

.carrera-detalles {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 30px;
    text-align: left;
}



.montagne,
.gana {
    transition: .5s ease-out;
    color: #e2001a;

}

.gana {
    text-decoration: underline;
}

.medio,
.no-te-pierdas-estos-premios {
    margin: 0;
    padding: 0;
}

.no-te-pierdas-estos-premios {
    margin-bottom: 30px;
    background-color: #e2001a;
    color: #000000;
}

.triptico {
    display: inline-flex;
    background-color: #FFFFFF;
    color: #000000;
    align-items: center;
}

.premio {
    width: 300px;
    padding: 25px 50px;
}

.flecha {
    position: relative;
    top: -20px;
    padding: 0px 149px;
    width: 35px;
}

.premio img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 20%;
    border: 4px solid;
    border-color: #000000;
    background-color: #FFFFFF;
}

.bases {
    color: rgb(131, 131, 131);
    background-color: #e6e6e6;
    text-align: justify;
    font-size: 16px;
    padding: 25px 10px;
}

.carrera-montagne,
.tipos-corriendo,
.kit,
.mapa {
    margin: 0;
    padding: 0;
    width: 480px;
}

.carrera-detalles {
    padding-left: 30px;
    background-image: url(https://raw.githubusercontent.com/jkmazzetti/mailing/main/img/detalles-carrera.png);
    background-repeat: no-repeat;
    background-color: #000000;
}

.carrera-montagne,
.kit {
    padding-right: 40px;
}

.tipos-corriendo img,
.kit-mapa img {
    width: 480px;
}

.kit img {
    width: 240px;
}

.mapa {
    padding-top: 25px;
}

.parte-superior,
.kit-mapa {
    background-color: #000000;
}

.participa-gana {
    background-color: #000000;
}

.triptico {
    width: 1000px;
}

.tipos-corriendo {
    padding-top: 12px;
}

.gana :hover {
    transition: .5s ease-out;
    color: #2de200;
}

.kit-mapa {
    margin-top: 25px;
}